[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
conan = "*"

[dev-packages]
python-lsp-server = "*"
cmake-language-server = "*"

[requires]
python_version = "3"
