cc = clang
ar = llvm-ar

cflags = -Werror -Wextra -Wall -pedantic -I../include -std=c23
arflags = 

rule source
  command = $cc -c -o $out $cflags $in

rule lib
  command = $ar r $arflags $out $in

rule test
  command = $cc -o $out $cflags $in

# Library
{% for src, obj in zip(sources, objects) %}
  build {{obj}}: source {{src}}
{% endfor %}

build ../build/lib/moondance.a: lib ../build/objects/test.o

# Tests
build ../build/tests/test.exe: test ../test/test.c ../build/lib/moondance.a


build all: phony $
  ../build/lib/moondance.a $
  ../build/tests/test.exe

